body {
  margin: -20px;
  padding: 0px;
  background-color:gray;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  margin-left: 250px; 
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 50px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}